# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.pyc
ui/node_modules
.DS_Store
ui/dist
server/assets
server/index.html
server/*.ico
ui/.vscode
dist-ssr
coverage
*.local
volumes/
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
